.pamsh {
    font-weight: bold;
    font-size: 50px;
}

.content p {
    font-size: 23px;
    max-width: 650px;
}

.note {
    font-style: italic;
    font-size: 15px;
}

.headsplit {
    display: grid; 
    grid-template-columns: auto 500px;
}
